<!DOCTYPE html>
<html lang="pt-br">
<head><title>FDC - Início</title>
<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="../static/style.css"></head>

<body>
    <header>
        <nav id="menu">
            <ul>
                <li>  <a href="/"> Início </a>  </li>
                <li>  <a href="armazenar"> Armazenar </a>  </li>
                <li>  <a href="consultar"> Consultar </a>  </li>
                <li>  <a href="opcoes"> Opções </a>  </li>
            </ul>
        </nav>
        </header>

    <div id="home">
        <h1>Fluxo de Caixa</h1>
        <p style="color: blueviolet;">Faça login para continuar</p>
    </div>
</body>
</html>
